
#container{
    border: 1px solid transparent;
    margin: auto;
    min-width: 200px;
    max-width: 700px;
    font-family: 'Zen Kurenaido', sans-serif;
}

h1, h2{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h1{
    border-bottom: 1px solid black;
    max-width: 190px;
}

h2{
    border-bottom: 1px solid black;
    max-width: 120px;
}

#connect{
    max-width: 160px;
}


a{
    text-decoration: none;
    color : black;
}

p a{
    border: 1px solid transparent;
    background-color: rgb(243, 201, 207);
    padding: 2px;
    border-radius: 5px;
}

p a:hover{
    background-color: rgb(245, 169, 181);
}

.linkedin{
    background-color: rgb(190, 226, 248);
}

.linkedin:hover{
    background-color: rgb(159, 214, 248);
}